/*      Created by Alexander Knishevich
//      My contacts:
//              VK: https://vk.com/aknishevich
//              E-mail: aknishevich@gmail.com
//              Upwork-Profile: https://www.upwork.com/freelancers/~016171e34f311aeb56
*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}
li{
	display: inline-block;
	list-style: none;
}
a{
	color: black;
	text-decoration: none;
}
.container{
	position: relative;
	margin: 0 auto;
	width: 1170px;
	height: 100%;
}
.wrapper{	
	position: relative;
	margin: 0 auto;
	height: 100%;
	width: 100%;
	min-height: 900px;
}

/*  HEADER  */

.header{
	position: relative;
	width: 100%
	min-width: 1170px;
	height: 155px;
}
.head{
	position: relative;
	margin: 0 auto;
	width: 1100px;
	height: 100px;
}
.logo{
	float: left;
	top: 35px;
	color: #222836;
	position: relative;
}
.logo img{
	position: relative;
}
.logo span{
	position: relative;
	top: -10px;
	padding-left: 5px;
	font-size: 20px;
	font-weight: 800;
}
.logo a:hover{
	color: #ff8261;
}
.authorization{
	position: relative;
	overflow: hidden;
	float: right;
	top: 30%;
	width: 457px;
	height: 46px;
	border-top: solid 1px #e1e9f2;
	border-bottom: solid 1px #e1e9f2;
}
.authorization ul{
	position: relative;
	color: #9ba4b0;
	float: right;
	top: 30%;
}
.authorization li{
	position: relative;
	display: table-cell;
	padding-left: 15px;
	padding-right: 15px;
	border-right: 1px solid #e1e9f2;
}
.authorization li span{
	color: #484e57;
}
.authorization li:hover{
	cursor: pointer;
	color: #484e57;
}
.authorization li:nth-last-child(1){
	border-right: none;
	padding-right: 5px;
}
.menu_wrapper{
	position: relative;
	height: 55px;
	width: 100%;
	background-color: #fff;
}
.menu{
	position: relative;
	width: 100%;
}
.menu ul{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: stretch;
	font-size: 0px;
	height: 55px;
	width: 100%;
	margin: 0 auto;
}
.menu ul li{
	display: flex;
	align-items: center;
	text-align: center;
	font-size: 16px;
	color: white;
	height: 55px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #ff8261;
	transition: 0.5s;
}
.menu ul li a{
	color: white;
}
.menu ul li:hover{
	cursor: pointer;
	background-color: #52cbf8;
	transition: 0.5s;
}

/*  MAIN  */

.main{
	width: 100%;
	min-width: 1170px;
	height: 100%;
}
.slider{
	position: relative;
	width: 100%;
	height: 570px;
	background-color: #222836;
	text-align: center;
}
.photo{
	position: relative;
	display: inline-block;
	height: 100%;
	width: 980px;
	margin: 0 auto;
	overflow: hidden;
}
.photo img{
	width: 100%;
	height: 100%;
}
.arrow{
	border-radius: 100%;
	margin-top: 22%;
	width: 59px;
	height: 59px;
	transition: 1s;
}
.arrow:hover{
	cursor: pointer;
}
.arr_l{
	float: left;
	background-image: url(img/arrow_left.png);
}
.arr_l:hover{
	transition: 1s;
	background-color: #52cbf8;
}
.arr_r{
	float: right;
	background-image: url(img/arrow_right.png);
}
.arr_r:hover{
	transition: 1s;
	background-color: #52cbf8;
}
.search{
	width: 100%;
	height: 200px;
	background-color: #e7f4f8;
}
.search_text{
	position: relative;
	float: left;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	top: 40px; 
}
.search_text span{
	display: block;
}
.search_text img{
	width: 25px;
	height: 26px;
}
.search_text1{
	font-size: 18px;
	font-weight: 400;
	color: #859aa1;
}
.search_text2{
	font-size: 30px;
	color: #556b72;
}
.search form{
	position: relative;
	display: inline-block;
	top: 70px;
	padding-left: 30px;
}
.search input[type="text"]{
	outline: none;
	padding-left: 25px;
	width: 424px;
	height: 53px;
}
.search select{
	padding-left: 25px;
}
.search input[type="submit"]{
	background-color: #ff8261;
	border: none;
	outline: none;
	width: 200px;
	height: 55px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	color: white;
	transition: 0.5s;
}
.search input[type="submit"]:hover{
	cursor: pointer;
	background-color: #52cbf8;
	transition: 0.5s;
}
.search select{
	color: #525e6d;
	outline: none;
	width: 160px;
	height: 53px;
}
.search select:hover{
	cursor: pointer;
}
.search option:hover{
	cursor: pointer;
}
.benefits{
	width: 100%;
	height: 450px;
	background-color: #fff;
}
.benefits_text{
	margin-top: 50px;
}
.benefits_text .span1{
	color: #8fa2a8;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: 400;
}
.benefits_text .span2{
	color: #8fa2a8;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 30px;
	color: #556b72;
}
.benefits_text .span1::before {
    background-color: #ff8261;
    content: "";
    margin-bottom: 12px;
    font-size: 0px;
    display: block;
    height: 2px;
    width: 21px;
}
.bnf_h{
	color: #8fa2a8;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 18px;
	color: #556b72;
}
.bnf_row{
	position: relative;
	display: block;
	top: 50px;
	width: 100%;
	height: 110px;
}
.bnf_ico{
	position: absolute;
	display: inline-block;
	width: 100px;
	height: 110px;
	top: 0px;
	left: 0px;
	text-align: center;
}
.bnf_dsc{
	color: #8fa2a8;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	position: absolute;
	display: inline-block;
	width: 240px;
	height: 110px;
	top: 0px;
	left: 110px;
}
.bnf_dsc p{
	padding-top: 5px;
}
.bnf_row li{
	overflow: hidden;
	position: relative;
	width: 360px;
	height: 75px;
	position: relative;
	display: inline-block;
	left: 30px;
}
.bnf_row li:nth-child(1){
	position: relative;
	left: 0px;
}
.bnf_row li:nth-child(1) .bnf_ico{
	text-align: left;
}
.bnf_row li:nth-last-child(1){
	position: relative;
	left: 60px;
}
.bnf_row:nth-last-child(1){
	position: relative;
	top: 100px;
}
.offers{
	width: 100%;
	height: 410px;
	font-size: 0px;
	background-color: #fffbde;
}
.hot{
	position: absolute;
	display: inline-block;
	width: 500px;
	height: 100%;
	top: 0px;
	left: 0px;
}
.sale{
	position: relative;
	margin-top: 50px;
	width: 364px;
	height: 116px;
	background-color: #fff;
}
.sale_in{
	position: relative;
	margin: 0 auto;
	top: 12px;
	border: 2px solid #fffbde;
	width: 340px;
	height: 92px;
	background-color: #fff;
	font-size: 14px;
}
.sale_text1{
	position: relative;
	overflow: hidden;
	white-space: nowrap;
	color: #97947f;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 600;
	top: 12px;
	padding-left: 13px;
}
.sale_text2{
	position: relative;
	overflow: hidden;
	white-space: nowrap;
	color: #ff8261;
	font-family: 'Open Sans', sans-serif;
	font-size: 42px;
	font-weight: 800;
	top: 0px;
	padding-left: 14px;
}
.sale_text3{
	position: absolute;
	overflow: hidden;
	white-space: nowrap;
	color: #97947f;
	font-family: 'Open Sans', sans-serif;
	font-size: 17px;
	font-weight: 400;
	padding-left: 14px;
	right: 15px;
	top: 30px;
}
.second_word{
	position: relative;
	color: #4c515b;
	font-family: 'Open Sans', sans-serif;
	font-size: 17px;
	top: -6px;
	font-weight: 800;
}
.blue{
	color: #52cbf8;
}
.features{
	position: absolute;
	display: inline-block;
	width: 670px;
	height: 100%;
	top: 0px;
	left: 500px;
}
.font{
	overflow: hidden;
	white-space: nowrap;
	color: #696556;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
}
.font ul{
	display: inline-block;
}
.font ul:nth-child(3){
	padding-left: 70px;
}
.features li{
	display: block;
	padding-top: 25px;
	max-width: 230px;
}
.features li:before{
	content: '\27a4 \2002';
}
.features li:after{
	content: '\0a';
}
.btn_view{
	position: relative;
	background-color: #ff8261;
	border: none;
	outline: none;
	width: 165px;
	height: 55px;
	bottom: 20px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	color: white;
	transition: 0.5s;
}
.btn_view:hover{
	cursor: pointer;
	background-color: #52cbf8;
}
.font ul:nth-last-child(1){
	padding-left: 20px;
}
.price{
	width: 100%;
	height: 670px;
	background-color: #fff;
}
.price_blocks{
	font-size: 0px;
	padding-top: 30px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}
.block{
	position: relative;
	border: 1px solid #e1eff4;
	width: 260px;
	height: 465px;
	overflow: hidden;
	white-space: nowrap;
}
.plan{
	position: relative;
	width: 180px;
	height: 40px;
	margin: 0 auto;
	background-color: #52cbf8;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 600;
	text-align: center;
	margin-top: 30px;
}
.plan span{
	margin: 0 auto;
	position: relative;
	top: 10px;
}
.price_text1{
	position: relative;
	width: 100px;
	height: 60px;
	top: 15px;
	left: 85px;
	font-size: 14px;
}
.dollar{
	font-size: 50px;
	font-weight: 100;
}
.price_val{
	position: relative;
	color: #556b72;
	font-family: 'Open Sans', sans-serif;
	font-size: 50px;
	font-weight: 600;
	left: 15px;
}
.per_month{
	color: #556b72;
	position: relative;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 600;
}
.block ul{
	width: 100%;
	height: 230px;
	overflow: hidden;
	position: relative;
	color: #8d9198;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	top: 10px;
}
.block ul li{
	margin: 0 auto;
	padding: 13px;
	text-align: center;
	display: block;
	width: 210px;
	border-bottom: 1px solid #f0f4f7;
}
.block ul li:nth-last-child(1){
	border-bottom: none;
}
.btn_price{
	position: relative;
	color: white;
	background-color: #ff8261;
	border: none;
	outline: none;
	width: 115px;
	height: 45px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	top: 20px;
	left: 27%;
	transition: 0.5s;
}
.btn_price:hover{
	cursor: pointer;
	background-color: #52cbf8;
}
.sign_up{
	position: relative;
	width: 100%;
	height: 230px;
	background-color: #e7f4f8;
}
.sign_up img{
	position: relative;
	top: 50px;
	display: block;
}
.letter{
	position: relative;
	display: block;
	font-size: 0px;
	width: 100%;
	height: 60px;
	top: 60px;
}
.sign_up_text{
	position: absolute;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 19px;
	color: #859aa1;
	top: 5px;
	display: inline-block;
	height: 60px;
	width: 210px;
}
.weight{
	font-weight: 600;
	font-size: 28px;
	color: #556b72;
}
.sign_up_input{
	position: absolute;
	font-size: 0px;
	top: 0px;
	left: 210px;
	display: inline-block;
	height: 60px;
	width: 960px;
}
.sign_up_input input[type="text"]{
	display: inline-block;
	border: none;
	outline: none;
	color: #556b72;
	padding-left: 25px;
	height: 60px;
	width: 760px;
}
.sign_up_input input[type="submit"]{
	background-color: #ff8261;
	display: inline-block;
	border: none;
	outline: none;
	width: 200px;
	height: 60px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	color: white;
	transition: 0.5s;
}
.sign_up_input input[type="submit"]:hover{
	cursor: pointer;
	background-color: #52cbf8;
	transition: 0.5s;
}

/*  FOOTER  */

.footer{
	overflow: hidden;
	position: absolute;
	background-color: #4c515b;
	width: 100%;
	min-width: 1170px;
	height: 385px;
	bottom: -385px;
}
.vertical_center{
	width: 100%;
	height: 200px;
	margin-top: 100px;
	font-size: 0px;
}
.footer_logo{
	display: inline-block;
	height: 200px;
	width: 360px;
}
.footer_logo .logo{
	top: 40%;
}
.footer_logo .logo span{
	color: #fff;
}
.footer_logo .logo .rights{
	left: 50px;
	font-size: 15px;
	font-weight: 400;
	color: #909aad;
}
.footer_logo span:hover{
	color: #e7f4f8;
}
.footer_logo .rights:hover{
	color: #fff;
	cursor: pointer;
}
.footer_links{
	position: absolute;
	top: 0px;
	display: inline-block;
	height: 200px;
	width: 330px;
	font-size: 16px;
	color: white;
}
.footer_links ul{
	overflow: hidden;
	position: relative;
	display: inline-block;
	padding-top: 20px;
	width: 115px;
	height: 160px;
}
.footer_links ul li{
	display: block;
	padding: 5px;
	padding-left: 0px;	
	color: #909aad;
}
.footer_links ul li a{
	color: #909aad;
}
.footer_links ul li a:hover{
	color: #fff;
}
.footer_links ul:nth-child(2){
	background-color: red;
}
.footer_contacts{
	position: absolute;
	overflow: hidden;
	top: 0px;
	left: 650px;
	display: inline-block;
	height: 200px;
	width: 220px;
	font-size: 16px;
	color: #909aad;
}
.footer_contacts li{
	padding-top: 10px;
}
.footer_social{
	position: absolute;
	top: 0px;
	left: 900px;
	display: inline-block;
	height: 200px;
	width: 250px;
	font-size: 16px;
}
.footer_social ul{
	position: relative;
	display: block;
	width: 200px;
	height: 60px;
}
.footer_social ul li{
	position: relative;
	display: inline-block;
	top: 0px;
	padding-left: 40px;
	padding-bottom: 5px;
	border-radius: 100%;
}
.footer_social li img{
	position: absolute;
	top: 0px;
	left: 0px;
}
.footer_social li:nth-child(0){
	padding-left: 0px;
}
.footer_social img:hover{
	cursor: pointer;
}